<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/static/scripts.js" charset="utf-8"></script>
<script>
$(document).ready(function(){
    $("#btnCheck").click(function(){
    //debugger;
    	var inputvalue = document.getElementById("Text1").value;
    	//alert("input = "+inputvalue);
		inputvalue = JSON.stringify({"news":inputvalue});
		
    	$.ajax({
        	url: "http://127.0.0.1:5000/predict",
        	type: "POST",
        	data: inputvalue,
        	contentType: 'application/json',
        	success: function (result) {
				alert(result);
        	},
        	error: function (xhr, ajaxOptions, thrownError) {
        		alert(xhr.status);
        		alert(thrownError);
        	}
    	});
	});
	$("#btnClear").click(function(){
		document.getElementById("Text1").value = "";
	});
});
</script>
<style>
@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

 .header-bg {
      width:100%;
      height:100%;
      background: url("/static/Fact-Or-Fake.png");
      background-size:cover;
    }

    

body {
  margin: 10px;
}
</style>
</head>
<body>
<div class="container">
    <div class="jumbotron header-bg">
        <h1>Fake or Not</h1>
        <p>An AI powered online content analysis tool.</p>
    </div>
    <div class="form-group">
        <a id="btnCheck" class="btn btn-primary" style="color: white;">Check News</a>
        <a id="btnClear" class="btn btn-primary" style="color: white;">Clear</a>
        <a id="btnClear" class="btn btn-primary" style="color: white;">Live Content Monitoring</a>
        <a id="btnClear" class="btn btn-primary" style="color: white;">Dashboard</a>
    </div>
    <div class="form-group">
        <textarea id="Text1" class="form-control rounded-0" rows="10" placeholder="Please paste your news here to check">
The president touted the tax overhaul he signed back in December, his only legislative victory to date. He said there would be a "part 2" rolled out in the coming months.

“We're doing a phase two,” Trump said. “We'll be doing it probably in October, maybe a little sooner than that, and it’ll be more of a middle class — we did a lot for the middle class, but this will be even more aimed at the middle class. One of the things we’re thinking about is bringing the 21 percent down to 20 and for the most part, the rest of it will go right to the middle class. It's a great stimulus.”
"The big thing I’m focused on now is trade," he said. "I have to straighten out trade deals... We have some of the worst trade deals in the world.

"We lose money with everybody. When someone walks up and says how much do we lose with this country? We lose with everybody. We’re going to make it reciprocal. We’re going to make them fair, and I will tell you that you don’t know about this, but every country is calling every day saying, 'Let’s make a deal, let’s make a deal.' It’s going to all work out."
        </textarea>
    </div>

    <div class="container-fluid">
     <div class="row">
            <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">

                <div class="form-group">
                    <label class="control-label" for="inentities">Entities in Content:</label>
                     <div class="inner-addon left-addon">
                      <i class="glyphicon glyphicon-user"></i>
                        <input type="text" class="form-control" id="inentities" value="America, AP, Trump" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label" for="inphrases">Talked about:</label>
                    <div class="inner-addon left-addon">
                      <i class="glyphicon glyphicon-list"></i>
                        <textarea  style="width:550px; height:50px;"  class="form-control" id="inphrases" value="1. Tax reform  2. Trade deals" disabled>
                        1. Tax reform  
                        2. Trade deals</textarea>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label" for="pwd">Quote Detection and Validation:</label>
                    <div class="inner-addon left-addon">
                          <i class="glyphicon glyphicon-hand-right"></i>
                        <input type="text" rows="5" class="form-control" id="pwd" value="Hillary Say ‘I Would Like to See People Like Trump Run for Office’. " disabled>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label" for="pwd">Language:</label>
                     <div class="inner-addon left-addon">
                      <i class="glyphicon glyphicon-subscript"></i>
                     <input type="text" class="form-control" id="pwd" value="English" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label" for="insource">Source:</label>
                    <div class="inner-addon left-addon">
                      <i class="glyphicon glyphicon-road"></i>
                    <input type="text" class="form-control" id="insource" value="www.abc.com" disabled>
                    </div>
                </div>
            </div>
        </div>
      
        </div>
 
            <div class="col-sm-6"> 
        
        
        
         <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label" for="pwd">Sentiment:</label>
                     <div class="inner-addon right-addon">
                      <i class="glyphicon glyphicon-certificate text-success"></i>
                        <input type="text" class="form-control" id="pwd" value="Positive" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label" for="pwd">Toxicity Detection:</label>
                    <div class="inner-addon right-addon">
                          <i class="glyphicon glyphicon-certificate text-danger"></i>
                    <input type="text" class="form-control" id="pwd" value="Abusive" disabled>
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label" for="insource">Source Authenticity:</label>
                    <div class="inner-addon right-addon">
                      <i class="glyphicon glyphicon-certificate text-success"></i>
                    <input type="text" class="form-control" id="insource" value="80%" disabled>
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label" for="pwd">References Authenticity:</label>
                    <div class="inner-addon right-addon">
                      <i class="glyphicon glyphicon-certificate text-warning"></i>
                     <input type="text" class="form-control" id="pwd" value="Average" disabled>
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label" for="pwd">Overall Authenticity Score:</label>
                     <div class="inner-addon right-addon">
                      <i class="glyphicon glyphicon-certificate text-success"></i>
                    <input type="text" class="form-control" id="pwd" value="Green" disabled>
                    </div>
                </div>
            </div>
        </div>
        

        </div>
        
    </div>
</div>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>